body {
    background-color: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: aliceblue;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    text-align: center;
}

header li {
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

header li a {
    text-decoration: none;
    color: aliceblue;
}

.texte {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    margin: auto;
    height: 20vh;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 500;
}

.div-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    height: 20vh;
    letter-spacing: 3px;
    font-weight: 500;
}


.div-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 30%;
}

.div-links li {
    margin-left: 100px;
    /* Espacement entre chaque élément <li> */
}

#a2 {
    text-decoration: none;
    /* background: linear-gradient(to right, #92500D, rgb(174, 129, 7));
    background-clip: text;
    color: transparent; */
    color: #92500D;
    font-size: 130%;
}

main {
    flex: 1;
}

#logo {
    text-decoration: none;
    /* color: aliceblue;
     */
    /* ceci va dessiner un background puis on va l'appliquer uniquement au text avec background clip et la couleur doit etre transparent*/
    background: linear-gradient(to right, #92500D, rgb(70, 52, 4));
    background-clip: text;
    color: transparent;
    font-size: 60px;
    margin-left: 2%;
}

img.menu-btn {
    display: none;
}

@media screen and (max-width: 1250px) {
    .navbar {
        padding: 0;
        position: relative;
    }

    .div-links.mobile-menu {
        margin-left: 0;
    }

    body {
        backdrop-filter: blur(5px);
    }

    .div-links {
        top: 0;
        right: 0;
        background-color: rgba(215, 207, 207, 0.323);
        width: 100%;
        height: 100vh;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .div-links ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    img.menu-btn {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        width: 35px;
    }

    .div-links ul li {
        margin: 25px 0;
        font-size: 2em;
    }

    #logo {
        position: absolute;
        top: 25px;
        left: 50px;
    }

    main {
        position: absolute;
        bottom: 70%;
        left: 20%;
    }

    .texte.hidden {
        display: none;
    }

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}