 body {
    background-color: #DBDBD9;
    margin: 0 auto;
    color: white;
    /* font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
    background: url(../image/airplane-fond.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.titre {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

h3.slogan {
    font-size: 25px;
    text-transform: capitalize;
    font-style: italic;
}


/* Destinations */

div.destination-item {
    width: 300px;
    height: 400px;
    margin: 20px;
    position: relative;
    flex: 1 0 25%;
    background-repeat: no-repeat;
    background-size: 450px 450px;
}

div.destination-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

div.destinations-group {
    /* police */
    font-family: "Open Sans", "Open Sans-fallback", sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex wrap important pour savoir si on peut mettre les elements en ligne */
    flex-wrap: wrap;
    /* marge des quatres côtés de l'image */
    margin: 0px 20% 0 20%;
}

.barcelone {
    background: url(../image/barcelone.jpg);
}

.dubai {
    background: url(../image/dubai.jpg);
}

.manille {
    background: url(../image/philippines.jpg);
}


.paris {
    background: url(../image/paris.jpg);
    /* background-size: 500px 500px; */
}

.tunis {
    background: url(../image/tunis.jpg);
    /* attention a la propriété bacjground-poisiton-x car elle modifie la poisition dans la page entière donc a utilisé avec précations */
    /* background-position-x: left; */
    /* background-size: 500px 500px; */
}

.londres {
    background: url(../image/londres.jpg);
    /* background-position-x: left; */
    /* background-size: 550px 540px; */
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

span.name {
    position: relative;
    color: black;
    background-color: #EEA20A;
    top: 8px;
    float: right;
    padding: 8px;
}

span.price {
    position: relative;
    color: white;
    background-color: #EEA20A;
    padding: 15px;
    top: 350px;
}

/* Formulaire de recherche */

.form-group label {
    color: white;
}

header form {
    background-color: orange;
    padding: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.form-group input {
    margin: 5px;
    padding: 10px;
}

.form-submit {
    text-align: center;
}