body {
    text-align: center;
    /* background-color: #212F3D; */
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
    /* background-image: url(kai-pilger-Ef6iL87-vOA-unsplash.jpg);
    background-position: center; */

}

header div.first {
    background: linear-gradient(#34495E, #212F3D);
    color: whitesmoke;
    background-repeat: no-repeat;
    height: 105px;
}

nav.menu ul li.btn {
    display: inline-block;
}


nav.menu ul li.btn a {
    /* text-decoration: none; */
    color: whitesmoke;
    padding: 10px;
    font-size: 30px;
}

/* nav.menu ul li.btn:hover a {
    color: #4D5656;
    background-color: #17202A;
    transition: 0.2s;
} */